@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

h2 {
    text-align: center;
}

table {
    border-collapse: collapse;
    border: 2px solid white;
    margin: 20px auto;
    width: 700px;
}

tr {
    background: #86006f;
    color: white;
    text-align: justify;
    font-family: rubik;
}

.pink {
    background: #86006f;
}

th, td {
padding: 20px;
border: 2px solid white;
font-family: rubik;
}

tr:nth-child(even){
    background: #f37ecf;
}

tr:nth-child(odd){
    background:#af5593 ;
}